.drop-down-menu{

}

.drop-down-button{
    color: palevioletred;
    background-color: transparent;
    border: 2px solid purple;
    border-radius: 6px;
}

.drop-down-content{
    background-color: palevioletred;
}