.image-carousel,
.image-carousel *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-carousel-frame{
    border: 5px solid coral;
    overflow: hidden;
}

.image-carousel-slides{
    display: flex;
    position: relative;
}

.image-carousel img{
    width: 100%;
}