.image-carousel{
    --prev-next-color: white;
    --prev-next-shadow: 0px 0px 5px black;
    --prev-next-padding: 0%;
    --prev-next-width: 15%;
    --prev-next-height: 100%;
    --prev-next-icon-size: 50px;
    position: relative;
}

.image-carousel,
.image-carousel *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-carousel-frame{
    overflow: hidden;
}

.image-carousel-slides{
    display: flex;
    position: relative;
}

.image-carousel img{
    width: 100%;
}

.image-carousel button.previous-button,
.image-carousel button.next-button{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    background-color: transparent;
    border: none;
    color: var(--prev-next-color);
    width: var(--prev-next-width);
    height: var(--prev-next-height);
    font-size: var(--prev-next-icon-size);
    filter: drop-shadow(var(--prev-next-shadow));
}
.image-carousel button.previous-button{
    left: var(--prev-next-padding); /* 0% + var(--prev-next-padding);*/
}
.image-carousel button.next-button{
    right: var(--prev-next-padding); /* 0% + var(--prev-next-padding);*/
}

.image-carousel .image-carousel-navigation{
    position: absolute;
    z-index: 1;
}